# coding
/\.direnv
/result
/\.artifacts
*\.code-workspace

# outputs
/firmware
!/firmware/\.keep
*\.pdf
*\.png
*\.uf2
/uf2


# OS
\.DS_Store
Thumbs\.db
ferris*

# JS
/node_modules


# West stuff
/zmk
/zephyr
/modules
/\.west
/\.build

# container dirs
/\.cache
/\.home
