# nix
/\.direnv
/result

# outputs
/firmware
!/firmware/.keep
*.pdf
*.png
*.uf2
/uf2

# ZMK & Zephyr
/draw/base.yaml


# OS
\.DS_Store
Thumbs.db
ferris*

/node_modules
\.DS_Store



# West stuff
/zmk
/zephyr
/modules
/\.west
/\.build

# container dirs
/\.cache
/\.home
