// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

// Origin: https://github.com/zmkfirmware/zmk/blob/main/app/boards/shields/cradio/cradio.keymap

#include <behaviors.dtsi> // https://github.com/zmkfirmware/zmk/blob/main/app/dts/behaviors.dtsi
#include <dt-bindings/zmk/keys.h> // https://github.com/zmkfirmware/zmk/blob/main/app/include/dt-bindings/zmk/keys.h
#include <dt-bindings/zmk/bt.h> // https://github.com/zmkfirmware/zmk/blob/main/app/include/dt-bindings/zmk/bt.h


// Enable Mouse
#include <dt-bindings/zmk/pointing.h>

// https://peccu.github.io/zmk-cheat-sheet/
//
// https://zmk.dev/docs/keymaps/list-of-keycodes

// Kinesis
//
// LEFT
// Shift  
// LEFT THUMB Ctrl Alt Back Del
//
// RIGHT
// Shift
// RIGHT THUMB Alt Ctrl Enter Space (windows)

        // To flash:
        // 2x reset OR Bootloader 


// Home row mods macro
#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &ht LALT  k2  &ht LCTRL k3  &ht LGUI  k4
#define HRMR(k1,k2,k3,k4) &ht RGUI  k1  &ht RCTRL k2  &ht RALT  k3  &ht RSHFT k4

#define L_B 0
#define L_R 1
#define L_L 2
#define L_T 3
#define L_G 4
// so you can do -> &tog  MOU

/ {

  // https://zmk.dev/docs/keymaps/combos
    combos {
        compatible = "zmk,combos";
//        combo_esc {
//            timeout-ms = <50>;
//            key-positions = <0 1>; // INPUT
//            layers = <0 1>;
//            bindings = <&kp ESC>; // OUTPUT
//        };
//
        gaming_layer_toggle {
            timeout-ms = <50>;
	          key-positions = <30 31 32 33>;
            bindings = <&tog L_G>;
        };
//        combo_caps {
//            timeout-ms = <30>;
//	    key-positions = <10 11 12>;
//            bindings = <&caps_word>;
//        };
//        combo_bt  {
//            timeout-ms = <10>;
//            key-positions = <11 12>;
//            bindings = <&to BT>;
//	    layers = <SM1>; 
//        };
//        lalt {
//            timeout-ms = <20>;
//	    key-positions = <8 9>;
//            bindings = <&kp LALT>; 
//	    layers = <SYS>; 
//        };
//        lclk {
//            timeout-ms = <20>;
//	    key-positions = <10 11>;
//            bindings = <&mkp LCLK>;
//	    layers = <SYS>;
//        };
//        rclk {
//            timeout-ms = <20>;
//	    key-positions = <3 4>;
//            bindings = <&mkp RCLK>;
//	    layers = <SYS>;
//        };
//
//   };
//
//   // https://zmk.dev/docs/keymaps/behaviors/macros
//    macros {
//        zed_em_kay: zed_em_kay {
//            compatible = "zmk,behavior-macro";
//            #binding-cells = <0>;
//            bindings
//                = <&macro_press &kp LSHFT>
//                , <&macro_tap &kp Z &kp M &kp K>
//                , <&macro_release &kp LSHFT>
//                ;
//        };
    };
  


   // https://zmk.dev/docs/keymaps/behaviors#key-press-behaviors
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    // https://zmk.dev/docs/keymaps/behaviors#user-defined-behaviors
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp N1>, <&kp N2>, <&kp N3>;
        };
    //
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <L_R L_L>;
            then-layer = <L_T>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        // LAYER 0
        default_layer { 
            display-name = "Base";
            bindings = <
        //╭──────────┬──────────┬──────────┬────────────┬──────────╮   ╭──────────┬────────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R         │  T       │   │  Y       │    U       │  I       │  O       │  P       │
            &kp Q      &kp W      &kp E      &kp R        &kp T          &kp Y        &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼────────────┼──────────┤   ├──────────┼────────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F         │  G       │   │  H       │    J       │  K       │  L       │ ' "      │
            HRML(A,        S,         D,         F)       &kp G          &kp H        HRMR(J,        K,         L,        SQT)
        //├──────────┼──────────┼──────────┼────────────┼──────────┤   ├──────────┼────────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V         │  B       │   │  N       │    M       │ , <      │ . >      │ / ?      │
            &kp Z      &kp X      &kp C      &kp V        &kp B          &kp N        &kp M      &kp COMMA  &kp DOT    &kp FSLH
        //╰──────────┴──────────┴──────────┼────────────┼──────────┤   ├──────────┼────────────┼──────────┴──────────┴──────────╯
                                            &lt L_L BSPC    &kp TAB       &kp ENTER  &lt L_R SPACE
        //                                 ╰────────────┴──────────╯   ╰──────────┴────────────╯
            >;
        };

        // LAYER 1
        right_layer {
            display-name = "Right Layer";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ INSERT   │  1       │  2       │  3       │          │   │ HOME     │ PAGE DN  │ PAGE UP  │ END      │  :       │
            &kp INS    &kp N1     &kp N2     &kp N3     &trans         &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &kp COLON
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ DELETE   │  4       │  5       │  6       │          │   │ LEFT     │ DOWN     │ UP       │ RIGHT    │  ;       │
            &kp DEL    &kp N4     &kp N5     &kp N6     &trans         &kp LEFT   &kp DOWN   &kp UP   &kp RIGHT   &kp SEMI
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ CAPS     │  7       │  8       │  9       │  0       │   │          │          │          │          │          │
           &caps_word  &kp N7     &kp N8     &kp N9     &kp N0         &trans     &trans     &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &kp ESC        &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        // LAYER 2
        left_layer {
            display-name = "Left Layer";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │  [       │  {       │  }       │          │   │  ^       │  (       │  )       │  ]       │  ~       │
            &trans     &kp LBKT   &kp LBRC   &kp RBRC   &trans         &kp CARET  &kp LPAR   &kp RPAR   &kp RBKT   &kp TILDE
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  !       │  @       │  #       │  $       │  %       │   │  *       │  -       │  =       │  \       │  `       │
            &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT      &kp ASTRK  &kp MINUS  &kp EQUAL  &kp BSLH   &kp GRAVE
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │  &       │  _       │  +       │  │       │          │
            &trans     &trans     &trans     &trans     &trans         &kp AMPS   &kp UNDER  &kp PLUS   &kp PIPE   &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        // LAYER 3
        tri_layer {
            display-name = "Tri";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │          │          │          │PROFILE 0 │   │          │          │          │          │  RESET   │
           &sys_reset  &trans     &trans     &trans    &bt BT_SEL 0    &trans     &trans     &trans     &trans    &sys_reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │          │          │PROFILE 1 │   │          │          │          │          │BOOTLOADER│
          &bootloader  &trans     &trans     &trans    &bt BT_SEL 1    &trans     &trans     &trans  &studio_unlock  &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ CLEAR BT │PROFILE 2 │   │          │          │          │          │          │
            &trans     &trans     &trans    &bt BT_CLR &bt BT_SEL 2    &trans     &trans     &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
        // LAYER 4
        gaming_layer {
            display-name = "Gaming";
            bindings = <
            &kp N1    &kp N2 &kp N3 &kp N4   &kp N5       &trans &trans &trans &trans &trans
            &kp LSHFT &kp A  &kp W  &kp D    &kp R        &trans &trans &trans &trans &trans 
            &kp LCTRL &kp G  &kp S  &kp E    &kp F        &trans &trans &trans &trans &trans 
                                    &mkp MB3 &kp SPACE    &trans &trans
            >; // &kb MB3 = mouse button 3 // kb?????
        };

//            &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
//            &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans 
//            &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans 
//                                 &trans &trans &trans &trans

//╭────┬──────┬──────┬─────┬──────╮   ╭─────┬─────┬──────┬──────┬──────╮
//│ 0  │  1   │  2   │  3  │  4   │   │  5  │ 6   │  7   │  8   │  9   │
//├────┼──────┼──────┼─────┼──────┤   ├─────┼─────┼──────┼──────┼──────┤
//│ 10 │  11  │  12  │  13 │  14  │   │  15 │ 16  │  17  │  18  │  19  │
//├────┼──────┼──────┼─────┼──────┤   ├─────┼─────┼──────┼──────┼──────┤
//│ 20 │  21  │  22  │  23 │  24  │   │  25 │ 26  │  27  │  28  │  29  │
//╰────┴──────┴──────┼─────┼──────┤   ├─────┼─────┼──────┴──────┴──────╯
//                   │  30 │  31  │   │  32 │ 33  │
//                   ╰─────┴──────╯   ╰─────┴─────╯


//╭──────────┬──────────┬──────────┬────────────┬──────────╮   ╭──────────┬────────────┬──────────┬──────────┬──────────╮
//│  Q       │  W       │  E       │  R         │  T       │   │  Y       │    U       │  I       │  O       │  P       │
//├──────────┼──────────┼──────────┼────────────┼──────────┤   ├──────────┼────────────┼──────────┼──────────┼──────────┤
//│  A       │  S       │  D       │  F         │  G       │   │  H       │    J       │  K       │  L       │ ' "      │
//├──────────┼──────────┼──────────┼────────────┼──────────┤   ├──────────┼────────────┼──────────┼──────────┼──────────┤
//│  Z       │  X       │  C       │  V         │  B       │   │  N       │    M       │ , <      │ . >      │ / ?      │
//╰──────────┴──────────┴──────────┼────────────┼──────────┤   ├──────────┼────────────┼──────────┴──────────┴──────────╯
//                                 ╰────────────┴──────────╯   ╰──────────┴────────────╯


    };
};
