name: Reusable user config build
on:
  workflow_dispatch:
  # push:
  #   paths:
  #     - config/**
  #     - build.yaml

jobs:
  firmware-build-user-configs:
    # TODO: pin it?
    # https://github.com/zmkfirmware/zmk/blob/main/.github/workflows/
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
    with:
      build_matrix_path: "build.yaml"
      config_path: "config"
      # fallback_binary: "bin"
      archive_name: "firmware"

  # workflow_call:
  #   inputs:
  #     build_matrix_path:
  #       description: "Path to the build matrix file"
  #       default: "build.yaml"
  #       required: false
  #       type: string
  #     config_path:
  #       description: "Path to the config directory"
  #       default: "config"
  #       required: false
  #       type: string
  #     fallback_binary:
  #       description: "Fallback binary format, if no *.uf2 file was built"
  #       default: "bin"
  #       required: false
  #       type: string
  #     archive_name:
  #       description: "Archive output file name"
  #       default: "firmware"
  #       required: false
  #       type: string
